@import 'variables';

html, body {
  padding: 0;
  margin: 0;
  background :none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

html {
  background: img("light_carbon.png") left top;
  min-height: 100%;
}

h1, h2, h3, h4 {
  margin: 5px 0;
}

a {
  cursor: pointer;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}


#main-content {
  margin: auto;
  margin-top: $nav-height;
  color: $text-color;
}